<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="marco container-sm d-flex justify-content-center border border-5 border-success">
            <div class="marco-info container-sm d-flex flex-column">
                <div class="marco-foto-escudo d-flex flex-row justify-content-center">
                    <img src="/assets/foto.jpg" alt="" class="foto imagen border border-1 border-danger">
                    <img src="/assets/logo_vector.svg" alt="" class="escudo-club">
                </div>            
    
                <div class="lista-datos">
                    <ul>
                        <li>
                            <h5 id="socio">Nº de Socio/a:</h5>
                            <p> 8 </p>
                        </li>
                        <li>
                            <h5 id="nombre">Nombre:</h5>
                            <p>Dario Ivarz </p>
                        </li>
                        <li>
                            <h5 id="direccion">Dirección:</h5>
                            <p>San Luis 4576</p>
                        </li>
                        <li>
                            <h5 class="estado">Estado:</h5>
                            <p>ACTIVO</p>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
        
    </body>
    
</body>
</html>
